.footer {
  background: black;
  color: white; /* Ensure text is visible on a black background */
  text-align: center !important; /* Add !important to ensure it takes precedence */
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 1em;
  font-family: "Julius Sans One", serif;
}

.link-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .link-container {
    flex-direction: column;
    align-items: center;
  }

  

  .techstack-header {
    font-size: 1.5em;
  }

  .footer p {
    font-size: 0.8em;
  }
  .loader-container{
    display: none;
  }
}