

.header {
    background: black;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
    font-size: 8em;
    font-family:"Smooch Sans";
    font-weight: 300;
  }
  
  .header nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
    display: flex;
    justify-content: center;
  }
  
  .header nav ul li {
    margin: 0 15px;
  }
  
  .header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  .header nav ul li a:hover {
    text-decoration: underline;
  }